
@import "variables";

///////////////////////////////////////////////////////////////////////effect start write

//@import "effects";




///////////////////////////////////////////////////////////////////////effect end
//header

@media screen and (min-width:1150px){

}

.flex {
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        &.center-h {
            justify-content: center;
            text-align: center;
        }

        &.nowrap {
            flex-wrap: nowrap;
        }

        .col {
        width: 50% !important;
            padding: 0px;
            box-sizing: border-box;
            &.align-self-center {
                align-self: center;
            }
            &.align-self-end {
                align-self: flex-end;
            }
        }
    }




p,li{
font-family: 'Avenir' !important;
    font-size: 18px !important;
    line-height: 130%;
    
}

b, strong{
    font-weight: 600 !important;
}

h3,h4{
font-family: 'Avenirb' !important;
    font-size: 26px !important;
}

h1,h2{
    font-family: 'Avenirb' !important;
    font-size: 31px !important;
}

h2,h1{
    font-weight: 600;
}

h1{
    font-size: 50px !important;
    color: white !important;
    position: relative;
    top: 45px;
}

.b{
    font-weight: 600;
}

.mar-top{
    margin-top: 40px;
}

.mar-bot{
margin-bottom: 40px !important;
}

.mar-bot20{
    margin-bottom: 19px !important;
}

.sky{
    color: @sky !important;
}

.blue{
    color: @blue !important;
}

.justify{
    text-align: justify;
}

.fcentered{
    //text-align: center; //THE
    display: flex !important; //SUPER
    justify-content: center !important; //RESPONSIVE
    align-items: center !important; //TOOL
    flex-direction: column !important; // OMEGA
}



.center{
    text-align: center;
}

.fullw{
    margin-left: -250px !important;
    margin-right: -250px !important;
}

   .btn-green {
        background-color: @green;
        padding: 10px 26px;
        color: white;
        font-weight: 100;
        font-size: 16px;
        font-family: 'Avenir';
        text-decoration: none !important;
       transition: 0.3s !important;

        &:hover {
            background-color: @red;
            color: lightgoldenrodyellow;
            transition: 0.3s !important;
        }
    }

.left-txt{
    text-align: left;
    text-align-last: center;
}

#whoweare{
    position: relative !important;
    right: 7% !important;
}

#ubik-row-logo{
    
}

.left-txt{
    text-transform: none !important;
}

.bigp{
    p{
        font-size: 24px !important;
        font-weight:500 !important; 
        .strong{
             font-weight:500 !important; 
        }
    }
}
//DIRECT TO THE THEME!!!

//search button
.btn-submit, .iw-effect-button-v2{
    .ion-ios-search{
    font-size: 30px !important;
    }
    span{
        font-size: 22px !important;
        font-family: 'Avenir';
    }
}

//status
#select2-status-x1-container{
    text-transform: uppercase !important;
     font-family: 'Avenir' !important;
    font-size: 22px !important;
  
    
}

.select2-selection--single{
    .select2-selection__rendered{
           text-transform: uppercase !important;
             font-family: 'Avenir' !important;
            font-size: 22px !important;
          background-color: @sky !important;
    }
}

//arrow
body .iw-search-form .select2-container--default .select2-selection--single .select2-selection__arrow b:after
{
    font-size: 22px !important;
   
}

//btn search

.iw-search-form .iw-fields .iw-field.for-button-submit {
    //padding: 8px 50px !important;
    border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
}

//remove border radius button
.iwp-form button{
border-radius: 0px !important;
}

//engrane gear
.ion-android-settings:before{
    display: none;
}

//avanzada
.iw-search-add-advanced{
    text-transform: uppercase !important;
      font-family: 'Avenir' !important;
            font-size: 16px !important;
    font-weight: 100;
    
}

//dropdown{
    li[aria-expanded="true"]{
  color: @sky;
}

//buscar propiedades
.iw-property-types.style-3 .iw-property-types-wrap{
    //background-color: black;
     background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
}

//iconssss


.iw-property-item~.iw-property-item{
    
    
    .reality-icon-villa{
    
    &:before{
       //content: url(icon/casa2.svg) !important;  
    }
       
    
    
}
    
    
}


.iw-property-types.style-3 .iw-property-item .iwp-type-icon a{
    border: 2px white solid !important;
    border-radius: 0 !important;
}

.vc_custom_1523866808804{
    position: relative !important;
    margin-top: 86px !important;
    .title-block{
        position: relative;
        bottom:  30px;
    }
    
    h3{
        font-weight: 100 !important;
        font-size: 12px !important;
        font-family: 'Avenir' !important;
        text-transform: uppercase !important;
    }
}

//  :nth-of-type(2)


.main-logo{
    width: 160px !important;
    height: auto;
    position: relative !important;
    bottom: 31px;
}

.sticky-logo{
   width: 100px !important;
    height: auto;
    position: relative !important;
    bottom: 50px;
}

.header, .header-default, .header-style-v2,  .no-page-heading, .header-sticky, .navbar, .navbar-default, .iw-header, .iw-header-sticky, .static{
   // max-height: 200px !important;
    //height: 200px !important;
    //min-height: 150px !important;
} 

.navbar-default-inner{
    min-height: 136px;
}

.is-sticky{
    .navbar-default-inner{
    min-height: 90px !important;
    }
}


    #contacto {
        background-color: @bblue;
        background-size: cover;
        padding-top: 220px;
        padding-bottom: 180px;
        
        #cflex{
            margin-bottom: 210px;
        }

        
            img {
                transition: 0.3s;
                &:hover {
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }
        
        h3{
            font-size: 42px !important;
            color: white !important;
        }
        
        h2{
            font-size: 48px !important;
                
        }
        
        .padless{
            padding: 0;
            margin: 0;
            
            line-height: 105%;
        }




        .c-col {
            padding-left: 0px;
            padding-right: 60px;

            .flex {
                padding-top: 30px;
                padding-bottom: 20px;
            }

            .txt {
                width: 63%;
            }

        }

        a {
             transition: 0.3s;
            text-decoration: none;
            &:hover {
                color: @red !important;
                transition: 0.3s;
                   text-shadow: 2px 2px 8px black; 
            }

            p {
                transition: 0.3s;
            }

            p:hover {
            color: @red !important;
            }
        }



        .pad-top {
            padding-top: 25px;
        }

        h2,
        p {
            color: white;
        }




        h2 {
            font-size: 62px;
            line-height: 150%;
            font-style: normal;
        }





        .icon {
            width: 20%;
            img {
                //width: 180px;
            }
        }
        
           p, a{
                    font-size: 28px !important;
                        color: white !important;
                    }

        #followus {
            flex-direction: row !important;
                   .v-center{
                     display: flex;
                   align-items: center !important;
                    }
            
            
            .txt{
                width: 31% !important;
                   
            }
            .icon {
                width: 15% !important;
            }

            img {
                width: 85% !important;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }

        }




        .icons-bot {
            margin-bottom: 25px;
        }

        .mar-bot {
            margin-bottom: 60px;
        }

        .pad-left {
            padding-left: 22px;
        }

        #mapa { //important for ubik
            
            
            .icons-bot{
                
                .fcentered{
                    //text-align: center; //THE
                    display: flex !important; //SUPER
                    justify-content: flex-start !important; //RESPONSIVE
                    align-items: center !important; //TOOL
                    flex-direction: column !important; // OMEGA
                }
                
                
                .icon{
                width: 12% !important;
                }
                
                .txt{
                    width: 88% !important;
                    
                 
                    
                   
                    
                }
                 .v-center{
                     display: flex;
                   align-items: center !important;
                    }
            }
            
            
            
            img{
                width: 70%;
            }
            
            p {
                font-size: 24px;
                &.phone {
                    padding-top: 0%;
                    font-size: 22px;
                }
                
                //padding-top: 10%;
            }
            padding-top: 107px;

        }

        .big {
            font-size: 24px;
            font-weight: 900;
        }

        .col {
            #cform {

                #caldera_form_1 {

                    //#fld_2494155_1{
                    select {
                        border-width: 0px !important;
                        border-color: white !important;
                        border-radius: 0px;
                        background: white !important;
                        color: black !important;
                        font-family: "Avenir" !important;
                        padding: 8px;
                        font-size: 24px;
                        height: 60px;
                        //text-transform: uppercase !important;
                        font-weight: 400;
                        height: 1%;

                        option {
                            color: black;
                            font-size: 18px;
                        }

                        margin-bottom: 0px;
                        margin-top: 20px;
                    }

                    .caldera-grid .form-control::-webkit-input-placeholder {
                        color: black !important;
                    }

                    .row,
                    .single {
                        .col-sm-12 {


                            .form-control {
                                border-width: 0px !important;
                                border-color: white !important;
                                border-radius: 0px;
                                background: white !important;
                                color: black !important;
                                font-family: "Avenir" !important;
                                padding: 23px;
                                font-size: 20px;

                                &::-webkit-input-placeholder {
                                    color: black !important;
                                }


                            }
                        }
                    }

                }
            }
        }






        .caldera-grid .checkbox label,
        .caldera-grid .radio label {
            color: white !important;
            font-family: "Avenir" !important;
            font-size: 24px;
            padding-left: 10%;
            margin-bottom: 40px;
        } //checkbox
        
        #fld_7872352_1-wrap{
            
            margin-top: 160px;
            margin-bottom: 60px;
            
            .fld_7872352_1,
            .fld_5824425_1, option-required {
                height: 32px;
                width: 90px;
                margin-top: -3px;
                
                margin-left: -70px !important;
            }  
        }
        
         //button
        #fld_5573142_1-wrap,
        #fld_2388358_1-wrap {
            float: right;
            #fld_5573142_1,
            #fld_2388358_1,
            .btn-form-class {
                //background: @green !important;
                padding: 10px 46px;
                border-radius: 0px;
                color: white;
                font-weight: 600;
                font-size: 24px;
                font-family: 'Avenir';
                text-decoration: none !important;
                transition: 0.3s;
                &:hover {
                    color: aliceblue;
                    background: @red !important;
                }
            }
        }

        .caldera-grid input[type=submit] {
            background-color: @green !important;
        }
        input[type="submit"]:not([name="update_cart"]) {
            background-color: @green !important;
        }

    }

//@import "responsive";

//} 