
@import "variables";

///////////////////////////////////////////////////////////////////////effect start write

//@import "effects";




///////////////////////////////////////////////////////////////////////effect end
//header

@media screen and (min-width:1150px){

}

p,li{
font-family: 'Avenir' !important;
    font-size: 18px !important;
    line-height: 130%;
    
}

b, strong{
    font-weight: 600 !important;
}

h3,h4{
font-family: 'Avenirb' !important;
    font-size: 26px !important;
}

h1,h2{
    font-family: 'Avenirb' !important;
    font-size: 31px !important;
}

h2,h1{
    font-weight: 600;
}

h1{
    font-size: 50px !important;
    color: white !important;
    position: relative;
    top: 45px;
}

.b{
    font-weight: 600;
}

.mar-top{
    margin-top: 40px;
}

.mar-bot{
margin-bottom: 40px !important;
}

.mar-bot20{
    margin-bottom: 19px !important;
}

.sky{
    color: @sky !important;
}

.blue{
    color: @blue !important;
}

.justify{
    text-align: justify;
}

.fcentered{
    //text-align: center; //THE
    display: flex !important; //SUPER
    justify-content: center !important; //RESPONSIVE
    align-items: center !important; //TOOL
    flex-direction: column !important; // OMEGA
}

.center{
    text-align: center;
}

.fullw{
    margin-left: -250px !important;
    margin-right: -250px !important;
}

   .btn-green {
        background-color: @green;
        padding: 10px 26px;
        color: white;
        font-weight: 100;
        font-size: 16px;
        font-family: 'Avenir';
        text-decoration: none !important;
       transition: 0.3s !important;

        &:hover {
            background-color: @red;
            color: lightgoldenrodyellow;
            transition: 0.3s !important;
        }
    }

.left-txt{
    text-align: left;
    text-align-last: center;
}

#whoweare{
    position: relative !important;
    right: 7% !important;
}

#ubik-row-logo{
    
}

.left-txt{
    text-transform: none !important;
}

.bigp{
    p{
        font-size: 24px !important;
        font-weight:500 !important; 
        .strong{
             font-weight:500 !important; 
        }
    }
}
//DIRECT TO THE THEME!!!

//search button
.btn-submit, .iw-effect-button-v2{
    .ion-ios-search{
    font-size: 30px !important;
    }
    span{
        font-size: 22px !important;
        font-family: 'Avenir';
    }
}

//status
#select2-status-x1-container{
    text-transform: uppercase !important;
     font-family: 'Avenir' !important;
    font-size: 22px !important;
  
    
}

.select2-selection--single{
    .select2-selection__rendered{
           text-transform: uppercase !important;
             font-family: 'Avenir' !important;
            font-size: 22px !important;
          background-color: @sky !important;
    }
}

//arrow
body .iw-search-form .select2-container--default .select2-selection--single .select2-selection__arrow b:after
{
    font-size: 22px !important;
   
}

//btn search

.iw-search-form .iw-fields .iw-field.for-button-submit {
    //padding: 8px 50px !important;
    border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
}

//remove border radius button
.iwp-form button{
border-radius: 0px !important;
}

//engrane gear
.ion-android-settings:before{
    display: none;
}

//avanzada
.iw-search-add-advanced{
    text-transform: uppercase !important;
      font-family: 'Avenir' !important;
            font-size: 16px !important;
    font-weight: 100;
    
}

//dropdown{
    li[aria-expanded="true"]{
  color: @sky;
}

//buscar propiedades
.iw-property-types.style-3 .iw-property-types-wrap{
    //background-color: black;
     background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
}

//iconssss


.iw-property-item~.iw-property-item{
    
    
    .reality-icon-villa{
    
    &:before{
       //content: url(icon/casa2.svg) !important;  
    }
       
    
    
}
    
    
}


.iw-property-types.style-3 .iw-property-item .iwp-type-icon a{
    border: 2px white solid !important;
    border-radius: 0 !important;
}

.vc_custom_1523866808804{
    position: relative !important;
    margin-top: 86px !important;
    .title-block{
        position: relative;
        bottom:  30px;
    }
    
    h3{
        font-weight: 100 !important;
        font-size: 12px !important;
        font-family: 'Avenir' !important;
        text-transform: uppercase !important;
    }
}

//  :nth-of-type(2)





//@import "responsive";

//} 