
@import "variables";

///////////////////////////////////////////////////////////////////////effect start write

//@import "effects";




///////////////////////////////////////////////////////////////////////effect end
//header

@media screen and (min-width:1150px){

}

p,h1,h2,h3,h4,b,li{
font-family: 'Avenir' !important;
}

.fcentered{
    text-align: center; //THE
    display: flex !important; //SUPER
    justify-content: center !important; //RESPONSIVE
    align-items: center !important; //TOOL
    flex-direction: column !important; // OMEGA
}

.fullw{
    margin-left: -250px !important;
    margin-right: -250px !important;
}

   .btn-green {
        background-color: @green;
        padding: 10px 26px;
        color: white;
        font-weight: 100;
        font-size: 20px;
        font-family: 'Avenir';
        text-decoration: none !important;
       transition: 0.3s !important;

        &:hover {
            background-color: @red;
            color: lightgoldenrodyellow;
            transition: 0.3s !important;
        }
    }

.left-txt{
    text-align: left;
    text-align-last: center;
}

//@import "responsive";

//} 