// main: main.less




@media screen and (max-width:1500px) and (min-width:666px){


}


@media screen and (max-width:1200px){

}





   @media screen and (max-width:650px){
       
       h1,h2{
           line-height: 135% !important;
       }
       
       h1{
           margin-bottom: 80px !important;
       }
       
       #who{
        .vc_column-inner{
               padding-right: 0 !important;
               padding-left: 0 !important;
            padding: 25px !important;
           }
           
           .blue{
               text-align: center !important;
           }
           
           p{
               text-align: justify;
               text-align-last: center;
           }
       }
       
       
       #howework{
           .iwh-title{
               text-align: center !important;
               line-height: 120%;
           }
           
           p{
                text-align-last: center;
           }
           
           .vc_column-inner{
               padding-right: 0 !important;
               padding-left: 0 !important;
           }
       }
       
       
       
       
       //contacto ------------------------------------------->
       
        #contacto {

            #cflex{
                margin-bottom: 10px;
            }
            
            a,p{
                font-size: 18px !important;
            }

        .col,
        #mapa,
        c-col {
            text-align: center; //THE
            width: 100% !important;
        }

        img {
            width: 100%;
        }

        .col {
            .big {
                padding-left: 15px;
            }
        }

        padding-top: 80px;
        padding-bottom: 40px;
            
         h3{
            font-size: 20px !important;
            color: white !important;
         text-align: center !important;
        }
        
        h2{
            font-size: 30px !important;
            text-align: center !important;
                
        }

        .c-col {

            width: 100%;
            padding-left: 0px;
            padding-right: 0px;

            .flex {
                padding-top: 30px;
                padding-bottom: 20px;
            }

            .txt {
                width: 80%;
            }

            p {
                font-size: 18px !important;
            }

        }



        .pad-top {
            padding-top: 25px;
        }





        h2 {
            font-size: 40px;
            line-height: 150%;
            font-style: normal;
        }




        .icon {
            width: 15%;
            img {
                //width: 180px;
            }
        }

        #followus {

            .txt{
                width: 31% !important;
                   
            }
            .icon {
                width: 15% !important;
            }

            img {
                width: 85% !important;
           
            }
        }



        .icons-bot {
            margin-bottom: 25px;
        }

        .mar-bot {
            margin-bottom: 60px;
        }

        .pad-left {
            padding-left: 0px;
        }



        #mapa {
            width: 100%;
            a, p {
            font-size: 17px !important;
            }
            padding-top: 50px;
            .icon {
                //width: 25%;
            }
            .txt {
           
            }

        }



        .col {
            #cform {

                #caldera_form_1 {

                    select {

                        padding: 8px;
                        font-size: 16px;


                        option {
                            font-size: 16px;
                        }

                        margin-bottom: 10px;
                    }

                    .caldera-grid .form-control::-webkit-input-placeholder {
                        color: white !important;
                    }

                    .row,
                    .single {
                        .col-sm-12 {


                            .form-control {

                                padding: 18px;
                                font-size: 16px;


                            }
                        }
                    }


                }
            }
        }


        .caldera-grid .form-control::-webkit-input-placeholder {
            font-size: 16px;
        }




            .caldera-grid .checkbox label,
        .caldera-grid .radio label {
            font-size: 24px;
            padding-left: 10%;
            margin-bottom: 40px;
        } //checkbox
        
        #fld_7872352_1-wrap{
            margin-left: 10%;
            .checkbox{
                text-align: left !important;
                label{
                min-width: 310px !important;
            }
            }
            
            
            margin-top: 160px;
            margin-bottom: 60px;
            
            .fld_7872352_1,
            .fld_5824425_1, option-required {
                height: 32px;
                width: 90px;
                margin-top: -3px;
                
                margin-left: -70px !important;
            }  
        }


    }


}