// main: main.less




@media screen and (max-width:1500px) and (min-width:666px){


}


@media screen and (max-width:1200px){

}





   @media screen and (max-width:650px){
       
       //logo 
       .logo-mobile{
            width: 88px !important;
           position: relative;
           top: 1px;
        }
       

       .notrans{
           text-align: center !important;
           h2{
               font-size: 21px !important;
               text-align: center !important;
           }
           
            .iwh-description{
                font-size: 17px !important;
                text-align: center !important;
            }
    
       }
       
       h1,h2{
           line-height: 135% !important;
       }
       
       .iw-heading{
           h1{
               margin-bottom: 80px !important;
           }
       }
       
       #who{
        .vc_column-inner{
               padding-right: 0 !important;
               padding-left: 0 !important;
            padding: 25px !important;
           }
           
           .blue{
               text-align: center !important;
           }
           
           p{
               text-align: justify;
               text-align-last: center;
           }
       }
       
       
       #howework{
           .iwh-title{
               text-align: center !important;
               line-height: 120%;
           }
           
           p{
                text-align-last: center;
           }
           
           .vc_column-inner{
               padding-right: 0 !important;
               padding-left: 0 !important;
           }
       }
       
       
       
       
       //contacto ------------------------------------------->
       
        #contacto {

            #cflex{
                margin-bottom: 10px;
            }
            
            a,p{
                font-size: 18px !important;
            }

        .col,
        #mapa,
        c-col {
            text-align: center; //THE
            width: 100% !important;
        }

        img {
            width: 100%;
        }

        .col {
            .big {
                padding-left: 15px;
            }
        }

        padding-top: 80px;
        padding-bottom: 40px;
            
         h3{
            font-size: 20px !important;
            color: white !important;
         text-align: center !important;
        }
        
        h2{
            font-size: 30px !important;
            text-align: center !important;
                
        }

        .c-col {

            width: 100%;
            padding-left: 0px;
            padding-right: 0px;

            .flex {
                padding-top: 30px;
                padding-bottom: 20px;
            }

            .txt {
                width: 80%;
            }

            p {
                font-size: 18px !important;
            }

        }



        .pad-top {
            padding-top: 25px;
        }





        h2 {
            font-size: 40px;
            line-height: 150%;
            font-style: normal;
        }




        .icon {
            width: 15%;
            img {
                //width: 180px;
            }
        }

        #followus {

            .txt{
                width: 31% !important;
                   
            }
            .icon {
                width: 15% !important;
            }

            img {
                width: 85% !important;
           
            }
        }



        .icons-bot {
            margin-bottom: 25px;
        }

        .mar-bot {
            margin-bottom: 60px;
        }

        .pad-left {
            padding-left: 0px;
        }



        #mapa {
            width: 100%;
            a, p {
            font-size: 17px !important;
            }
            padding-top: 50px;
            .icon {
                //width: 25%;
            }
            .txt {
           
            }

        }



        .col {
            #cform {

                #caldera_form_1 {

                    select {

                        padding: 8px;
                        font-size: 16px;


                        option {
                            font-size: 16px;
                        }

                        margin-bottom: 10px;
                    }

                    .caldera-grid .form-control::-webkit-input-placeholder {
                        color: white !important;
                    }

                    .row,
                    .single {
                        .col-sm-12 {


                            .form-control {

                                padding: 18px;
                                font-size: 16px;


                            }
                        }
                    }


                }
            }
        }


        .caldera-grid .form-control::-webkit-input-placeholder {
            font-size: 16px;
        }




            .caldera-grid .checkbox label,
        .caldera-grid .radio label {
            font-size: 24px;
            padding-left: 10%;
            margin-bottom: 40px;
        } //checkbox
        
        #fld_7872352_1-wrap{
            margin-left: 10%;
            .checkbox{
                text-align: left !important;
                label{
                min-width: 310px !important;
            }
            }
            
            
            margin-top: 160px;
            margin-bottom: 60px;
            
            .fld_7872352_1,
            .fld_5824425_1, option-required {
                height: 32px;
                width: 90px;
                margin-top: -3px;
                
                margin-left: -70px !important;
            }  
        }
        
            iframe{
                width: 100% !important;
            }

    }
       
       
       // QUIENES SOMOS // --------------------------------------------------------->
       //--------------------------------------------------------------------------->
       
       #shiny-template{
        .page-heading {
            display: none !important;
        }

        .fcentered{
        text-align: center; //THE
        display: flex; //SUPER
        justify-content: center ; //RESPONSIVE
        align-items: center ; //TOOL
        //flex-direction: column ; // OMEGA
    }
           
           #who{
               h1{
                   font-size: 30px !important;
                   margin: 0 !important;
               }
               
            
                background-size: 120%;

               
           }



        #somos, #vision, #mision{
 

          

            .col{
            width: 100% !important;
                padding: 0 9%;
            }
            
            .fcentered{
                 text-align: center; //THE
                display: flex; //SUPER
                justify-content: flex-start; //RESPONSIVE
                align-items: flex-start; //TOOL
            }


            #couplekeys{
                height: 260px;

            }

            #v-couple{
                height: 260px;
            }

            #m-couple{
                height: 260px;
            }
        }
           
           #somos{
                .flex{
                height: 750px;
            }
           }
           
           #mision{
                .flex{
                height: 560px;
                    
                    
            }
               h2{
                   margin-top: -10px;
               }
           }
           
           #vision{
               .flex{
                   flex-wrap: wrap-reverse;
                   height: 666px;
                   
                   h2{
                        margin-top: 50px;
                    }
               }
           }

        #asesorias{
            padding: 70px 0;
            h2{
                text-align: center;
                margin-bottom: 60px;
                
            }

            p{
                color: black;
                text-align: justify;
                text-align-last: center;
            }

            .col{
                width: 100% !important;
                padding: 1% 4% 8%;
            }

            #border-r{
                border-right: white 0px solid;
                border-bottom: white 4px solid;
            }
            
            h3{
                text-align: center;
            }
        }

        #valores{

            h2{
                margin-bottom: 50px;
                color: @blue;
            }

            padding: 80px 0;
            .col{
                width: 33% !important;
                padding: 0 2%;
                img{
                    width: 80px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 13px !important;

                }
            }
            
            #obj, #ama{
                width: 50% !important;
                margin-top: 40px;
            }
            
            #obj{
                padding-left: 20%;
            }
            
            #ama{
                padding-right: 20%;
            }
        }

    }
       


}